<div>

<h1>Here will be the index of messages.</h1>

<table class="table">
	<tr>
		<th>Target Planet</th>
		<th>Message</th>
		<th>Composed by</th>
		<th>Time sent</th>
		<th>Expected delivery</th>
	</tr>

	<% @messages.each do |message| %>
	<tr>
		<td><%=  message.planet_id %></td>
		<td><%= message.content %></td>
		<td><%= message.user_id %></td>
		<td><%=  message.created_at %></td>
		<td>(created_at + distance_in_ly)</td>
	</tr>
	<% end %>

</table>

</div>