<div class="panel panel-primary">
	<div class="panel-heading">
		<h1>Messages Sent</h1>
	</div>
	<div class="panel-body">
	</div>

	<table class="table table-striped">
		<tr>
			<th class="col-md-2">Target Planet</th>
			<th class="col-md-4">Message</th>
			<th class="col-md-1">Composed by</th>
			<th class="col-md-3">Time sent</th>
			<th class="col-md-3">Expected delivery</th>
		</tr>

		<% @messages.each do |message| %>
		<tr>
			<td><%= message.planet_id %></td>
			<td><%= message.content %></td>
			<td><%= message.user_id %></td>
			<td><%= message.created_at %></td>
			<td>[created_at + distance in ly]</td>
		</tr>
		<% end %>

	</table>

</div>