<h1>About Cosmic Beacon</h1>
<br>
<p>Cosmic Beacon is an intellectual excercise.  What if we -- the general public -- really could send targeted messages into space, towards any of the thousands of newly discovered planets outside our own system?  </p>

<p>This site doesn't really do what it says it does.  CB does display a real list of actual extra-solar planets (exoplanets) which have been discovered within 150 light years of our solar system.  CB does let you compose short messages targeted to those exoplanetary systems.  CB really will email you back with delivery confirmation when your message would likely have reached its destination.  However, CB doesn't -- and won't -- actually send those messages into outter space.</p>
