<div>
	<div class="yellowtext">
		<h1>Cosmic Beacon</h1>
		<h4>Please register an account & login to post a message to our stellar neighborhood.</h4>
	</div>
	

	<h3><%= link_to 'Planets', planets_path %></h3>
	<h3><%= link_to 'Messages', messages_path %></h3>

</div>
