<div >
	<h1>Welcome to the Cosmic Beacon</h1>
	<p>Please register an account and login to post your message to the stars.</p>

	<h3><%= link_to 'Sign-up', new_user_registration_path %></h3>
	<h3><%= link_to 'Log-in', new_user_session_path %></h3>
	<h3><%= link_to 'View Messages', messages_path %></h3>
</div>
